/* ALL */

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.all__heading {
    font-weight: 300;
    font-size: 21px;
    line-height: 29px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    padding: 5px 10px;
    color: white;
    font-weight: 300;
}

.all__heading::after {
    content: '';
    right: 0;
    top: 0;
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100vw;
    right: 0;
    top: 0;
    background: #103550
}

.about,
.gallery,
.layout,
.visaul,
.project,
.build,
.callback {
    margin-top: 100px;
}


/* ALL */


/* header */

header {
    padding: 25px 0 30px 0;
    font-weight: 300;
}

header img {
    width: 100%;
    padding-right: 20px;
}

.header__menu a {
    font-size: 17px;
    color: black;
    margin-right: 20px;
}

.header__time {
    margin: 0 20px 0 45px;
}

.header__time--hour {
    font-size: 12px;
    margin-left: 20px;
}

.header__callback a {
    font-size: 12px;
    display: flex;
    padding: 8px 20px;
    border: 0.5px solid #4F4C4C;
    color: #000000;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.header__language {
    margin-left: 23px;
    border: 0.5px solid #4F4C4C;
    padding: 2px 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.header__callback a::before {
    content: '';
    background-image: url('../img/phone_icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    margin-right: 16px;
    width: 18px;
    height: 18px;
}


/* header */


/* slide */

.slider__quote h6 {
    margin-top: 30px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 300;
}

.slider__quote h6::after {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    background-color: #103550;
    margin-top: 10px;
}

.slide__title {
    margin-top: 45px;
    background-color: #DDE4E9;
    padding: 20px 25px;
}

.slide__title h1 {
    font-size: 45px;
    line-height: 1.2;
    margin: 0;
    color: #103550;
    margin: 0;
    text-transform: uppercase;
}

.slide__title--bold {
    font-weight: 500;
}

.slide__title--regular {
    font-weight: 300;
}

.slide__desc p {
    margin: 20px 0 0 0;
    font-weight: 300;
    font-size: 15px;
    line-height: 19px;
    color: #4D4747;
}

.slide__button {
    margin-top: 55px;
}

.slide__button--signup {
    position: relative;
    padding: 35px;
}

.slide__button--signup::before {
    content: '';
    right: 0;
    top: 0;
    position: absolute;
    z-index: -1;
    height: 100%;
    width: 100vw;
    background-color: #FDD5B1;
}

.slide__button--signup::after {
    content: '';
    position: absolute;
    display: block;
    width: 255px;
    height: 5px;
    background-color: #103550;
    margin-top: 10px;
}

.slide__button a {
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    text-transform: uppercase;
}

.slide__button--download {
    margin-right: 30px;
}


/* slide */


/* about */


/* tabs */

.tabs-nav {
    display: flex;
    justify-content: flex-end;
    border-bottom: 5px solid #103550;
}

.tabs-nav__item a {
    cursor: pointer;
    padding: 37px 32px 29px 37px;
    font-size: 16px;
    font-weight: 300;
    color: #000000;
}

.tabs-nav__item a.active {
    background-color: #FDD5B1;
    font-weight: 400;
}

.layout .tab,
.about .tab {
    display: none;
}

.layout .tab.active,
.about .tab.active {
    display: block;
}


/* tabs */

.tabs__content--info {
    background-image: url('../img/about_img.png');
    background-size: cover;
}

.tabs__content--infobg {
    background: rgba(0, 0, 0, 0.5);
    padding: 87px 40px 67px 40px;
}

.tabs__content--infobg h1 {
    font-size: 25px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    text-align: center;
}

.tabs__content--desc {
    margin-top: 35px;
    font-size: 18px;
    color: white;
    line-height: 18px;
    text-align: center;
    font-weight: normal;
}

.tabs__content--quantity {
    margin-top: 35px;
    color: white;
}

.tabs__content--number {
    font-size: 70px;
    margin-right: 40px;
    line-height: 60px;
    font-weight: 500;
}

.tabs__content--quantity p {
    font-size: 18px;
}

.tabs__content--btn a {
    display: block;
    padding: 18px 50px;
    font-size: 18px;
    background-color: white;
    color: black;
    text-align: center;
    margin: 60px 40px 0 40px;
}


/* about */


/* gallery */

.gallery__sl {
    margin-top: 40px;
}

.gallery__block {
    padding: 20px;
}

.gallery__block img {
    width: 100%;
}

.gallery__sl .slick-dots li button:before {
    font-size: 30px;
    color: #A09D9D;
}

.gallery__sl .slick-dots li.slick-active button:before {
    color: #FE922D;
    border-radius: 100px;
    display: block;
    animation: radial-pulse 1s infinite;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.gallery__sl .slick-prev:before {
    content: '';
    background-image: url('../img/prev.svg');
    background-size: 50%;
    display: block;
    position: relative;
    margin-left: 45px;
    padding: 6px 10px;
    background-color: rgba(196, 196, 196, 0.7);
    opacity: 1;
}

.gallery__sl .slick-prev:hover:before {
    background-image: url('../img/prev_white.svg');
    background-color: #393538;
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

.gallery__sl .slick-prev,
.gallery__sl .slick-next {
    top: 9%;
}

.gallery__sl .slick-next:before {
    content: '';
    background-image: url('../img/next_white.svg');
    background-size: 50%;
    display: block;
    position: relative;
    padding: 6px 10px;
    background-color: #393538;
    opacity: 1;
}

.gallery__sl .slick-next:hover:before {
    background-image: url('../img/next.svg');
    background-color: rgba(196, 196, 196, 0.7);
    transition: .4s;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -ms-transition: .4s;
    -o-transition: .4s;
}

@keyframes radial-pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(253, 213, 177);
    }
    100% {
        box-shadow: 0 0 0 5px rgba(253, 213, 177, 0);
    }
}


/* gallery */


/* layout */

.layout-nav {
    margin-top: 60px;
}

.layout__room--img img {
    width: 100%;
    height: auto;
}

.layout__room--img {
    padding: 90px 40px;
    background: #E6E7E8;
    height: 100%;
}

.layout__room--desc {
    padding: 51px 54px 34px 57px;
    border-top: 5px solid #103550;
}

.layout__room {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.layout__room--number {
    font-weight: 300;
    font-size: 35px;
    margin: 40px 0;
    line-height: 47px;
    letter-spacing: 0.01em;
    color: #000000;
}

.layout__room--square {
    margin-right: 130px;
    margin-top: 30px;
}

.layout__room--square p {
    font-weight: 300;
    margin-bottom: 8px;
}

.layout__room--square span {
    display: block;
    font-weight: 500;
}

.layout__room--desc hr {
    width: 70%;
    margin-left: 0;
    margin: 44px 0 26px 0;
}

.layout__room-mini img {
    padding: 28px 17px;
}

.layout__room-mini img.active {
    background: #FDD5B1;
}

.layout__room-mini h6 {
    font-size: 15px;
    font-weight: 300;
    text-align: center;
    margin-top: 20px;
}


/* layout */


/* visaul */

.visaul img {
    margin-top: -15px;
    z-index: -2;
    position: relative;
}


/* visaul */


/* project  */

.project img {
    margin-top: 40px;
}

.project__block {
    margin-top: 100px;
}

.project__block h3 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.01em;
    padding: 10px 0;
    background: #103550;
    text-align: center;
    color: white;
}

.project__block--img {
    position: relative;
}

.project__block--sale {
    position: absolute;
}

.project__block--sale {
    position: absolute;
    bottom: 0;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
    font-weight: 300;
    padding: 20px 40px;
    letter-spacing: 0.01em;
    background: rgba(0, 0, 0, 0.25);
}


/* project */


/* build */

.build__block {
    margin-top: 71px;
}

.build__block--filter a {
    display: block;
    background: #FFFFFF;
    border: 0.5px solid #C2B7B7;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #000000;
    text-align: center;
    padding: 15px 0;
    margin-bottom: 30px;
}

.build__block--img {
    position: relative;
}

.build__block--date {
    position: absolute;
    bottom: 0;
    padding: 30px 84px;
    background: rgba(27, 25, 25, 0.5);
    color: #ffffff;
    font-weight: 300;
}


/* build */


/* callback */

.callback {
    background-image: url('../img/callback_bg.png');
    background-size: cover;
    background-position: center;
    padding: 60px 0;
}

.callback__teleg p {
    font-weight: 200;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.01em;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #000000;
    margin: 0 0 0 16px;
}

.callback__form--input {
    margin: 60px 10px 24px 10px;
    padding: 17px 32px;
    width: 100%;
    border: 0;
    background: #FFFFFF;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.callback__form--btn {
    width: 97%;
    margin: 0 10px;
    padding: 15px 0;
    border: 0;
    background: #103550;
    color: white;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    cursor: pointer;
}


/* callback */


/* footer */

footer {
    background-color: #103550;
    padding: 80px 0 120px 0;
    color: white;
}

footer h6 {
    font-size: 14px;
    letter-spacing: 0.01em;
    font-weight: 400;
}

footer span {
    font-size: 14px;
}

.footer__btn {
    display: block;
    width: 100%;
    background-color: #fff;
    border: 0;
    padding: 20px 0;
}

.footer__copyright {
    margin-top: 54px;
}


/* footer */